body {
    margin: 0;
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-size: 0.7em;
}

input, select {
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-size: 1em;
}

/* layout */

#header-wrapper {
    background-image: url("/images/bg-header.gif");
}

#header {
    margin: 0 auto;
    width: 900px;
    padding: 10px 0;
}

#search-bar-wrapper {
    clear: right;
    background: url("/images/bg-bar.gif") bottom;
}

#search-bar {
    margin: 0 auto;
    width: 900px;
    padding: 10px 0;
}

#search-bar input[type=text] {
    width: 590px;
}

#main {
    margin: 0 auto;
    width: 900px;
}

#content {
    margin-right: 310px;
    padding: 10px 10px 10px 0;
    border-right: 1px solid #D9D7CE;
}

#sidebar {
    float: right;
    width: 300px;
    padding: 10px 0;
}

#footer-wrapper {
    clear: right;
    background-image: url("/images/bg-footer.gif");
}

#footer {
    margin: 0 auto;
    width: 900px;
    padding: 1px 0;
    color: #777777;
}

/* beta icon */

#beta-icon {
    position: absolute;
    top: 10px;
}

/* hr */

.hr {
    margin: 10px 0;
    height: 1px;
    background-color: #DDDDDD;
}

/* panel */

.panel {
    margin: 0;
}

.panel div {
    margin-bottom: 10px;
}

.panel .right_col {
    margin-left: 150px;
}

.panel label {
    float: left;
    width: 150px;
    font-weight: bold;
}

/* error */

ul.error_list {
    list-style-type: none;
    margin: 0 0 5px 150px;
    padding: 0;
}

ul.error_list li {
    padding-left: 16px;
    background: url("/images/bullet_error.png") no-repeat;
    color: #FF0000;
}

/* TAG CLOUD */

ul.tag_cloud {
    margin: 0;
    padding: 0;
    list-style-type: none;
    line-height: normal;
    text-align: center;
}

ul.tag_cloud li {
    display: inline;
}

ul.tag_cloud li.rank_1 {
    font-size: 0.9em;
    font-weight: 100;
}

ul.tag_cloud li.rank_2 {
    font-size: 1.0em;
    font-weight: 200;
}

ul.tag_cloud li.rank_3 {
    font-size: 1.1em;
    font-weight: 300;
}

ul.tag_cloud li.rank_4 {
    font-size: 1.2em;
    font-weight: 400;
}

ul.tag_cloud li.rank_5 {
    font-size: 1.4em;
    font-weight: 500;
}

ul.tag_cloud li.rank_6 {
    font-size: 1.6em;
    font-weight: 600;
}

ul.tag_cloud li.rank_7 {
    font-size: 1.8em;
    font-weight: 700;
}

ul.tag_cloud li.rank_8 {
    font-size: 2.0em;
    font-weight: 800;
}

ul.tag_cloud li.rank_9 {
    font-size: 2.4em;
    font-weight: 900;
}

ul.tag_cloud li.rank_10 {
    font-size: 2.7em;
    font-weight: 900;
}

/* sidebox */

.sidebox {
    margin-bottom: 40px;
}

/* reports */

#reports {
    width: 100%;
}

#reports td {
    vertical-align: top;
}

/* pager navigation */

ul.pager-nav {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

ul.pager-nav li {
    display: inline;
}

/* labels */

ul.labels {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

ul.labels li {
	clear: left;
	margin-bottom: 5px;
}

ul.labels li div {
	float: left;
	margin-right: 5px;
	width: 15px;
	height: 15px;
}

/* image */

img {
	border: none;
}

/* navigation */

.nav {
    margin: 0;
    padding: 0;
}

.nav li {
    display: inline;
}

.nav span, .nav a {
    padding: 4px 6px;
}

.nav span, .nav a.sel, .nav a:hover {
    background-color: #F75E00;
    color: #FFFFFF;
}

.nav a {
    color: #F75E00;
}

.nav a.sel, .nav a:hover {
    text-decoration: none;
}

/* header navigation */

#header .nav {
	float: right;
}

#header .quote {
	position: absolute;
	top: 30px;
	margin-left: 350px;
	width: 350px;
	font-size: 1.2em;
	filter:alpha(opacity=40);
	-moz-opacity:0.4;
	-khtml-opacity: 0.4;
	opacity: 0.4;
}