body {
    margin: 0;
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-size: 0.7em;
}

/* hr */

.hr {
    margin: 10px 0;
    height: 1px;
    background-color: #DDDDDD;
}

/* panel */

.panel {
    margin: 0;
}

.panel .row {
    margin-bottom: 10px;
}

.panel .right-col {
    margin-left: 150px;
}

.panel label {
    float: left;
    width: 150px;
    font-weight: bold;
}